/*Text and divs alignments*/
.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

/*Some Containers*/
.btnPanel {
    height: 50px;
}

.simpleMargin, .btnPanel {
    margin-top: 5px;
}

.formContainer {
    width: 300px;
}

.contentPanel {
    padding: 0;
    margin: 10px;
}

.paddingContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Form */
.frmLabel {
    margin-right: 10px;
    width: 90px;
}

.frmInput {
    width: 200px;
}

/*Table column widths*/
.col1 {
    width: 200px;
}

.col2 {
    width: 200px;
}

.col3 {
    width: 480px;
}

.profileFrmLblCol {
    width: 100px;
}

.profileFrmLblVal {
    width: 200px;
}

/* ICEfaces overrides */
.mnuItmLoginItem {
    width: 100px;
}

.ccButton {
    padding: 8px;
}